.pricingToggle {
	background: #fff;
	width: 100%;
	margin: 0;
	margin-bottom: 2.5rem;
	.checkbox {
		font-family: 'DM Sans', sans-serif;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 3rem;

		&__active {
			transition: 0.5s;
		}
		&__muted {
			opacity: 0.5;
			transition: 0.5s;
		}
		&__monthly,
		&__yearly {
			font-size: 1.125rem;
			font-weight: bold;
			line-height: 25px;
			color: #000;
		}

		.switch {
			margin: 0 2rem;
		}
	}
}

// black card
.row {
	flex-shrink: 1;
}
.cardContainer {
	// margin: 0 3rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	article:nth-child(2) {
		background-color: #000;
		color: #fff;
		position: relative;

		.price {
			color: #fff;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;

			z-index: 50;
			height: 0.375rem;
			width: 100%;
			background: linear-gradient(#5a77ff, #bc7198, #ffc593);
		}

		button {
			background: #fff;
			a {
				color: #000;
			}
		}
	}
}

// Checkbox toggle
// the box around the slider
.switch {
	position: relative;
	display: inline-block;
	width: 4rem;
	height: 2rem;

	// Hides default checkbox
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

// Checkbox toggle slider
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #dfdfdf;
	transition: 0.4s;

	&::before {
		content: '';
		position: absolute;
		height: 25px;
		width: 25px;
		left: 4px;
		bottom: 4px;
		background-color: #000;
		transition: 0.4s;
	}

	&.round {
		border-radius: 2.125rem;

		&::before {
			border-radius: 50%;
		}
	}
}

input:checked + .slider {
	background: #000;
}
input:focus + .slider {
	box-shadow: 0 0 1px #dfdfdf;
}
input:checked + .slider::before {
	transform: translateX(1.9rem);
	background: #fff;
}

// @media screen and (min-width: 1200px) {
// 	// .cardContainer {
// 	// 	&:nth-child(1) {
// 	// 		margin: 0 12rem;
// 	// 	}
// 	}
// }
