.blackButton {
	border: none;
	background: #000;
	color: #fff;
	padding: 0.8rem 0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2.5px;
}

.btn-black {
	background: orange;
}

button {
	border: none;
}

.btnTransparentWhite {
	// border: none;
	background: black;
	color: #fff;

	svg {
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-family: 'DM Sans', sans-serif;
		font-size: 0.75rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
