@mixin fullHeightWidth {
	width: 100%;
	height: 100%;
}

.navbar {
	height: 4.5rem;
	padding: 1.5rem 1.5rem;
	display: flex;
	align-items: center;
	background-color: #fff;
	position: relative;
	transition: 0.5s all ease-in-out;
	flex-wrap: nowrap;
	font-family: 'DM Sans', sans-serif;
}

.logo {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;

	img {
		width: 10.625rem;
		height: 1rem;
	}
}

.navbar-desktop {
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style-type: none;
		font-weight: bolder;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 0;
		font-size: 0.75rem;
		a {
			margin-right: 2.6125rem;
			color: inherit;
			text-decoration: none;

			&:hover {
				opacity: 0.4;
			}
		}
	}
}

.hamburgerToggle,
.close {
	margin: 0;
}

.buttonBlackDesktop {
	padding: 0.6rem 2rem;
	border: none;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #000;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.navbar-mobile {
		display: none;
	}

	.navbar-desktop {
		display: flex;
		align-items: center;
	}
}
