.Footer {
	min-height: 33.6875rem;
	background: #000;
	font-family: 'DM Sans', sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
	padding-top: 3rem;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	ul,
	li {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		list-style: none;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 1.1875rem;
	}

	&__logo {
		margin-bottom: 2rem;
	}

	.social-icons {
		margin-bottom: 3.0625rem;
		img {
			fill: #fff;
			margin-right: 0.7rem;
		}
	}

	&__closure {
		text-align: center;
		margin-bottom: 2rem;
		button {
			margin-bottom: 2rem;
			color: #fff;
			background: none;
		}
		p {
			opacity: 0.5;
			font-size: 15px;
		}
	}
}
